body {
    color:#fff;
    background-color:#000;
    background-image:url(img/capture1.png);
    background-position:over;
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: Verdana, Arial, "Arial Black", sans-serif;
    text-align:justify;
}


p{
    color:#fff;
}

.jaune{
   color: #FEF601;
}

.files{
   border-left: 5px solid #FEF601;
   line-height:21px;
   padding-left:5px;
}


/*LEFT*/
.left{
    margin-left: 22%;
    padding-left:30px;
    padding-right: 30px;
}

.titre{
    font-size: 27px;
    color:#fff;
    border-top: 5px solid #FEF601;
    font-weight:bold;
}

.soustitre{
    margin-top:-10px;
    color:#000;
    background-color: #FEF601;
    padding-left:2px;
    font-size:20px;
}

.photo{
   width:25%;
   float:left;
   margin:15px;
}

.photo1{
   width:25%;
   float:right;
   margin:15px;
}

.text1{
    line-height:21px;
    border-top: 2px solid #FEF601;
    border-bottom: 2px solid #FEF601;
    background-color:#2F2F2D;
    padding:10px;
    margin-left:5%;
    margin-right:5%;
}


ul{
    list-style-type: none;
    color:#fff;
}
 

.losange{
    padding-left: 25px;
    background-image: url(img/list.png);
    background-size:10px;
    background-repeat:no-repeat;
    background-position: 0 0.4em;
    line-height:21px;
}

.chiffre{
    line-height:21px;
}

tableauxDroite h3{
    color:#fff;
    background-color:#000;
    font-size: 15px;
}

.case{
    background-color:#2F2F2D;
    border-top:1px solid #757573;
    border-bottom:2px solid #757573;
    padding:15px;
    color:#757573;
    margin:-2px;
}

.bas{
    color:#fff;
    font-weight: bold;
}


/*RIGHT*/

.right{
    margin-top:-1610px;
    margin-right: 17%;
    padding-left: 30px;
    padding-right: 30px;
}

.titre1{
    font-size: 27px;
    color:#fff;
    border-top: 5px solid #FEF601;
    font-weight:bold;
}


.listeDroite{
    margin-left:15%;
}

.listD{
    color:#fff;
    font-weight: bold;
    font-size: 27px;
    line-height:18px;
}


.rect1{
    border: 5px solid #FEF601;
    height: 480px;
    padding-top:10px;
}


.rect2{
    border: 5px solid #FEF601;
    height: 200px;
    padding:10px;
}








.footer{
   float:bottom;
    color:#fff;
   margin-left:26%;
   margin-top:10%;
   margin-bottom:1%;
}